* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.even {
  background-color: #f2f2f2;
}

/*------ Header -------*/
header {
  width: 100%;
  background-color: rgba(209, 214, 214, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  width: 100%;
  /* max-width: 1440px; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 80px 5px;
}

.nav-items {
  display: flex;
  gap: 30px;
}

.nav-items li {
  list-style-type: none;
  text-transform: uppercase;
}

.nav-items li a {
  color: #000;
}

.nav-logo {
  font-size: 50px;
}

.nav-logo a {
  color: #fff;
}

/*---------- Titel -----------*/
main {
  width: 100%;
}

.titel {
  position: relative;
  width: 100%;
}

.titel-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.titel-bg-black {
  background-color: #000;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #f2f2f2;
  position: relative;
}

.titel-bg-white {
  background-color: #f2f2f2;
  width: 50%;
  height: 100%;
  color: #000;
  display: flex;
  align-items: center;
  position: relative;
}

.titel-bg-black p,
.titel-bg-white p {
  font-size: 40px;
  text-transform: uppercase;
  padding: 0px 30px 400px;
  position: absolute;
  top: 55%;
}

.titel-bg-white h2 {
  position: absolute;
  top: 63%;
  padding: 0 0 0 155px;
  font-size: 24px;
  font-style: italic;
  color: #000;
}

.titel-photo {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 250px);
  opacity: 0.8;
}

.titel-photo img {
  width: 100%;
  max-width: 500px;
  display: block;
}

/*--------- Social icons ----------*/

.social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40vh;
  left: 0;
  z-index: 6;
}

.social-icons a {
  margin: 0 0 30px 20px;
}

.social-icons img {
  width: 32px;
}

/*--------- About -------------*/
.section {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 80px;
}

.section-name {
  display: flex;
  align-items: flex-start;
  width: 40%;
  position: relative;
  font-size: 18px;
}

.section-container {
  display: flex;
  align-items: center;
}

.section-heading {
  padding: 0 0 0 30px;
  text-transform: uppercase;
}

.section-name img {
  position: absolute;
  top: -30px;
  left: 45px;
  width: 100px;
  display: block;
}

.section-content {
  width: 60%;
  line-height: 280%;
}

/*----------- Skills -----------*/
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 53px;
}

.skill {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: 18px;
}

.skill img {
  width: 40px;
}

/*-------- Form ----------*/

.btn-contact button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 50px;
  padding: 5px 10px;
  background: #f2f2f2;
  text-transform: uppercase;
  position: relative;
  width: 180px;
  box-shadow: 5px 5px 5px rgb(213, 213, 213);
}

.btn-contact button:hover {
  cursor: pointer;
}

.btn-contact button span {
  position: absolute;
  top: 50% - 8px;
  left: 35px;
  color: #000;
}

/* -------- Footer --------- */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 2px solid #fff;
}

@media all and (max-width: 1280px) {
}
